:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: var(--body-bg-color);
}

body,inpit,textarea, button {
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6,strong {
    font-weight: 600;
}


button {
    cursor: pointer;
}


[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

a {
    color: var(--purple);
    text-decoration: none;
}

a:hover {

    transition: filter 0.2s;

    filter: brightness(0.7)

}



@media(max-width: 1080px){
    html {
        font-size: 93.5%;
    }
}

@media(max-width:720px) {
    html {
        font-size: 87.5%
    }
}


main {
    max-width: 400px;

    margin: 0 auto;

   
}


/* GLOBALS STYLES =============================================================*/


/* MENU ========================================================= */



.menu {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
}

.menu:nth-child(2){
    margin-top: 2rem;
}



.menu > div {
    
    background-color: var(--body-bg-color);
    color: var(--purple);
    font-weight: 500;

    width: 100%;
    height: 3rem;

    border: 2px solid var(--purple);
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* =================================================================*/

/* FOOTER =============================================================*/


footer {
    width: 100%;
    margin-top: 0rem;

    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
}